.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 30px;
    justify-content: center;
    row-gap: 20px;
    min-height: 50vh;
}
/*  gap: 30px;
    flex-wrap: wrap;
    justify-content: center;*/
.barrapesquisa{
        height: 30px;
        border: 1px solid #bebebe;
        width: 200px;
        border-radius: 5px;
        font-size: 1.4rem;
    }
.barrapesquisa:focus-visible{
        outline: 1px solid rgba(28, 28, 191, 0.57);
    }
.pesquisa{
        padding: 50px;
    }